/* Main clock container */
.clock {
    position: relative;
    width: 200px;
    height: 200px;
    border: 5px solid black;
    border-radius: 50%;
    margin: auto;
}

/* Glow effect for the clock background */
.clock::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 200px rgb(35, 35, 35);
    border-radius: 50%;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

/* Common style for all clock hands */
.hand {
    position: absolute;
    width: 50%;
    height: 5px;
    background: black;
    border-radius: 20px;
    top: 50%;
    left: 0%;
    transform-origin: 100%;
    transition: transform 0.4s cubic-bezier(0.6, -0.7, 0.25, 1.6);
}

/* Hour hand style */
.hour-hand {
    height: 6px;
    width: 51.1%;
    background: black;
    z-index: 1;
    transition: transform 1s cubic-bezier(0.6, -0.7, 0.25, 1.6);
}

/* Minute hand style */
.min-hand {
    height: 4px;
    width: 49.1%;
    background: gray;
    z-index: 2;
    transition: transform 0.8s cubic-bezier(0.6, -0.7, 0.25, 1.6);
}

/* Second hand style */
.second-hand {
    height: 2px;
    width: 50%;
    background: red;
    z-index: 3;
    transform-origin: 100%;
    transition: transform 0.4s cubic-bezier(0.6, -0.7, 0.25, 1.6);
}

/* Center point in the middle of the clock */
.inner-clock-face::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

/* Body styles for the background */
body {
    display: flex;
    background: url(img/hintergrundbild_4.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* Hour markings on the clock */
.marking {
  position: absolute;
  width: 2%;
  height: 35%;
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 33%,
    rgba(0, 0, 0, 0) 34%
  );
  top: 15%;
  left: 49.25%;
  transform-origin: center bottom;
  border-radius: 2px;
}

/* Minute markings on the clock */
.minute-marking {
  z-index: 0;
  position: absolute;
  width: 1%;
  height: 34.5%;
  background: linear-gradient(
    180deg,
    rgb(145, 145, 145) 10%,
    rgba(0, 0, 0, 0) 10%
  );
  top: 15.55%;
  left: 49.5%;
  transform-origin: center bottom;
}

/* Hide specific markings */
.marking-one {
    display: none;
}

.marking-two {
    display: none;
}

.marking-three {
    display: none;
}

.marking-four {
    display: none;
}
